body{

    font-family: 'Oswald', sans-serif;
    background-color: black;
}
.main{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px,auto)
}
a:link a:visited,a:link:active,a:visited:active,a{
    text-decoration: none;
    color: white;
}
.main>div{
    border: 2px solid white;
    background-color:rgba(109, 109, 109, 02);
}
.responsive {
    width: 100%;
    height: auto;
  }

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.indexmenu{
    
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
}



.g2csmenu{
    
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: center;
}

.cs{
    
    grid-column-start: 1;
    grid-column-end: 1;
}
.lol{
    
    grid-column-start: 2;
    grid-column-end: 2;
}
.felsorolas{
    
    grid-column-start: 3;
    grid-column-end: 3;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}